<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <title>Document</title>
  </head>
  <body>
    <div class="logo_div">
      <img src="{{url_for('static', filename='logo_image/logo.png')}}" class="logo" />
    </div>
    <div class="image_div">
      <img
        src="{{url_for('static', filename=image_loc)}}"
        alt=""
        class="image"
      />
    </div>
    <div class="button-center">
    <button class="button-5" role="button">تحميل الصورة بأعلى جودة</button>
    </div>
  </body>
</html>
